@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  position: relative;
  /* dodaj pozycję względną, aby ::before miał poprawne położenie */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  background-color: transparent;
  /* ustaw tło jako przezroczyste */
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://images.pexels.com/photos/2387873/pexels-photo-2387873.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: brightness(0.45);
  z-index: -1;
  /* ustaw niższy indeks warstwy, aby element był pod .container */
}

.container .login-box {
  border-radius: 10px;
  padding: 40px;
  padding-bottom: 20px;
  color: #353535;
  text-align: center;
  z-index: 1;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0px 7px 33px 0px #7a7a7d;
  -moz-box-shadow: 0px 7px 33px 0px #7a7a7d;
  box-shadow: 0px 7px 33px 0px #7a7a7d;
  transition: all 0.4s;
}

.container .login-box .top {
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d5d5;
}

.container .login-box .top .image-box {
  width: 100%;
  margin-bottom: 10px;
}

.container .login-box .top .image-box img {
  width: 80px;
  height: 100%;
}

.container .login-box .top h4 {
  text-transform: uppercase;
}

.container .login-box .top p {
  font-size: 16px;
  font-family: 'Dancing Script', cursive;
}

.container .login-box .login-form {
  margin-top: 20px;
  transition: opacity 0.4s;
}

.container .login-box .login-form .input-design {
  text-align: left;
  opacity: 0.6;
  margin-top: 10px;
}

.container .login-box .login-form .input-design p {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 3px;
  color: #5c5c5c;
}

.container .login-box .login-form .input-design input {
  background-color: #ebebeb;
  border: 2px solid #80878d;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 35px;
}

.container .login-box .login-form .input-design input:focus {
  outline: none;
  border-color: #1464a9;
  font-weight: bold;
  opacity: 1;
}

.container .login-box .login-form button {
  display: block;
  margin: auto;
  margin-top: 20px;
  background-color: #1464a9;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 10px 40px;
  opacity: 0.6;
  transition: opacity 0.4s;
  cursor: pointer;
}

.container .login-box .login-form button:hover {
  opacity: 1;
}

.container .login-box .login-form button.backButton {
  margin-top: 8px;
}

.container .login-box .login-form.hide {
  opacity: 0;
}

.login-form.step-2 {
  transform: scaleY(0);
  transition: transform 0.5s ease-in-out;
  height: 0;
  padding: 0;
  margin: 0 !important;
}

.login-form.step-2.show {
  margin-top: 20px !important;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.5s ease-in-out;
  height: auto;
}

.login-form.step-2.show .loginTitle {
  margin: 10px 0px;
  color: #5c5c5c;
}

.login-form.step-2.show .loginTitle span {
  font-weight: bold;
}

.login-form.step-2.hide {
  transition: all 0.4s ease-in-out;
  transform: scaleY(0);
}

.login-form.step-3 {
  transform: scaleY(0);
  transition: all 0.4s ease-in-out;
  height: 0;
  padding: 0;
  margin: 0 !important;
}

.login-form.step-3.show {
  margin-top: 20px !important;
  transform: scaleY(1);
  transform-origin: top;
  transition: all 0.4s;
  transition: transform 0.4s ease-in-out;
  height: auto;
}

.login-form.step-3.show .activateTitle {
  margin: 10px 0px;
  color: #5c5c5c;
}

.login-form.step-3.show .activateTitle span {
  font-weight: bold;
}

.login-form.step-3.hide {
  transition: all 0.4s ease-in-out;
  transform: scaleY(0);
}

.errorBox {
  display: none;
  align-items: center;
  border-radius: 7px;
  margin-top: 10px;
  transition: all 0.5s;
}

.errorBox .error-message {
  font-size: 14px;
  margin-top: 2px;
  margin-left: 4px;
}

.errorBox .material-icons {
  font-size: 14px;
  font-weight: bold;
  color: tomato;
}

.errorBox .material-icons.success {
  color: green;
}

.errorBox.active {
  display: flex;
}

.popup-notification {
  background-color: #f8f8f8;
  -webkit-box-shadow: 0px 0px 24px 0px #42445a;
  -moz-box-shadow: 0px 0px 24px 0px #42445a;
  box-shadow: 0px 0px 24px 0px #42445a;
  position: fixed;
  top: -20%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-45%, 0%);
  z-index: 1000;
  padding: 5px 20px 5px 20px;
  text-align: center;
  transition: all 0.4s;
  color: #373737;
}

.popup-notification .content {
  padding: 2px;
  font-size: 14px;
}

.popup-notification .content i {
  color: tomato;
  margin-right: 5px;
}

.popup-notification .content .title {
  font-weight: bold;
}

.popup-notification .content .message {
  margin-top: 10px;
}

.popup-notification.active {
  top: 1%;
}
